accelerate
asyncio
deepspeed>=0.14.0
deepspeed-kernels
Flask-RESTful
grpcio
grpcio-tools
Pillow
pydantic
pyzmq
safetensors
torch
transformers
ujson
Werkzeug
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
